# Object files
*.o

# Ada library information
*.ali

# Documentation
RandomThoughts.aux
RandomThoughts.bbl
RandomThoughts.blg
RandomThoughts.log
RandomThoughts.out
RandomThoughts.pdf
RandomThoughts.toc

Proposal.pdf

# macOS artifacts
.DS_Store
