# Object file
*.o

# Ada Library Information
*.ali

# Documentation
RandomThoughts.aux
RandomThoughts.bbl
RandomThoughts.blg
RandomThoughts.log
RandomThoughts.out
RandomThoughts.pdf
RandomThoughts.toc
